* {
    box-sizing: border-box;
}

/********************
***** Général *******
 */
h1 {
    font-family : Raleway,sans-serif;
    font-size : 48px;
    text-align : center;
}
h2 {
    font-family : Raleway,sans-serif;
    font-size : 30px;
}
p {
    font-family : Roboto,sans-serif;
    font-size : 16px;
}
a {
    font-family : Raleway,sans-serif;
    font-size : 36px;
}
ul {
    text-align : center;
    font-family : roboto, sans-serif;
    font-size : 16px;
    list-style-type : none;
}
figcaption {
    font-family: Roboto,sans-serif;
    font-size: 16px;
}
figure {
    text-align: center;
}
/****************
**** En-tête ****
 */
header {
    background-color : #fb7305;
    padding : 5px;
    width : 100%;
    height : 60px;
}
.navigation {
    width : 50px;
    display: inline-block;
}
.croix {
    width : 50px;
    display: inline-block;
}
.centre {
    text-align : center;
    display: inline-block;
}
/****************
**** Contenu ****
 */
main {
    padding: 2rem;
}
main div p {
    display : inline-block;
    padding : 30px;
}
.img-center {
    display : inline-block;
    padding : 30px;
    margin : 0;
}
.image-accueil {
    width : 30rem;
}
.reseaux-sociaux {
    width : 50%;
    margin-left: auto;
    margin-right: auto;
}
/*********************
**** Pied de page ****
 */
footer {
    width : 100%;
}
/****************
**** Menu *******
 */
.menu {
    text-align : center;
}
.menu a {
    color : #ffffff;
    text-decoration: none;
}
.menu header {
    background-color: #78c8f1;
}
.menu main {
    background-color: #1e3a92;
}
.menu ul {
    list-style-type : none;
}
.menu a:hover {
    color : #f71d29;
}
.menu footer {
    background-color: #78c8f1;
}
/*********************
*** Accueil **********
 */
.index header {
    background-color: #fb7305;
}
.index main {
    background-color: #78c8f1;
}
.index footer {
    background-color: #fb7305;
}
/*********************
*** Glace **********
 */
.glace header {
    background-color: #fb7305;
}
.glace main {
    background-color: #d2f4fd;
}
.glace footer {
    background-color: #fb7305;
}
/*********************
*** Neige **********
 */
.neige header {
    background-color: #fb7305;
}
.neige main {
background-color: #1e3a92;
}
.neige footer {
    background-color: #fb7305;
}
/**********************
***** Compétitons *****
 */
.compétitions header {
    background-color: #fb7305;
}
.compétitions main {
    background-color: #78c8f1;
}
.compétitions footer {
    background-color: #fb7305;
}
/********************
**** Champions ******
 */
.champions header {
    background-color: #fb7305;
}
.champions main {
    background-color: #d2f4fd;
}
.champions footer {
    background-color: #fb7305;
}
