h1 {
    font-family : Raleway,sans-serif;
    font-size : 48px;
    text-align : center;
}
h2 {
    font-family : Raleway,sans-serif;
    font-size : 30px;
}
p {
    font-family : Roboto,sans-serif;
    font-size : 16px;
}
a {
    font-family : Raleway,sans-serif;
    font-size : 36px;
}
ul {
    text-align : center;
    font-family : roboto, sans-serif;
    font-size : 16px;
    list-style-type : none;
}
figcaption {
    font-family: Roboto,sans-serif;
    font-size: 16px;
}
header {
    background-color : #fb7305;
    margin-top : 0;
}
.navigation {
    width : 4rem;
    display : inline-block;
    margin-left : 1rem;
}
.croix {
    width : 2rem;
    display : inline-block;
}
.centre {
    text-align : center;
    width : 2rem;
}
.menu {
    text-align : center;
}
.menu main nav ul {
    list-style-type : none;
}
.menu main nav ul il:hover {
    color : #f71d29;
}
main div p {
    display : inline-block;
    padding : 30px;
}
.img-center {
    display : inline-block;
    padding : 30px;
    margin : 0;
}
.image-accueil {
    width : 14rem;
}
.reseaux-sociaux {
    width : 50%;
    margin : auto;
}
