* {
    box-sizing: border-box;
}

/********************
***** Général *******
 */
h1 {
    font-family : Raleway,sans-serif;
    font-size : 48px;
    text-align : center;
}
h2 {
    font-family : Raleway,sans-serif;
    font-size : 30px;
}
p {
    font-family : Roboto,sans-serif;
    font-size : 16px;
}
a {
    font-family : Raleway,sans-serif;
    font-size : 36px;
}
ul {
    text-align : center;
    font-family : roboto, sans-serif;
    font-size : 16px;
    list-style-type : none;
}
figcaption {
    font-family: Roboto,sans-serif;
    font-size: 16px;
}
figure {
    text-align: center;
}
/****************
**** En-tête ****
 */
header {
    background-color : #fb7305;
    padding : 5px;
    width : 100%;
    height : 50px;
}
.navigation {
    width : 50px;
    display: inline-block;
}
.croix {
    width : 50px;
    display: inline-block;
}
.centre {
    text-align : center;
    display: inline-block;
}
/****************
**** Menu *******
 */
.menu {
    text-align : center;
}
.menu main nav ul {
    list-style-type : none;
}
.menu main nav ul il:hover {
    color : #f71d29;
    text-decoration: none;
}
/****************
**** Contenu ****
 */
main {
    padding: 2rem;
}
main div p {
    display : inline-block;
    padding : 30px;
}
.img-center {
    display : inline-block;
    padding : 30px;
    margin : 0;
}
.image-accueil {
    width : 30rem;
}
.reseaux-sociaux {
    width : 50%;
    margin-left: auto;
    margin-right: auto;
}
/*********************
**** Pied de page ****
 */
footer {
    width : 100%;
    height: 30px;
    background-color: #fb7305;
}
/*********************
*** Accueil **********
 */
/*********************
*** Glace **********
 */
/*********************
*** Neige **********
 */
/*********************
*** Accueil **********
 */
